body {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body section {
    scroll-snap-align: start;
}

img, picture {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.hero-area {
    isolation: isolate;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .25fr 1fr;
    padding-inline-end: 6rem;
}

.hero-area .hero-area-content {
    grid-column: 1/2;
    grid-row: 1/-1;
    margin: 4rem 0 2rem 13.5rem;
    display: grid;
    gap: 1rem;
    align-content: flex-start;
}

.hero-area .hero-img {
    grid-column: 2/-1;
    grid-row: 2/-1;
    object-fit: cover;
    aspect-ratio: 1;
    inline-size: 30vw;
    position: relative;
}

.hero-area .hero-img img {
    /* display: none; */
    inline-size: 100%;
    aspect-ratio: inherit;
}

.hero-area .cut-out-bottom,
.hero-area .cut-out-top {
    position: absolute;
    inline-size: 35%;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
}

.hero-area .cut-out-bottom span,
.hero-area .cut-out-top span{
    inline-size: 50%;
    aspect-ratio: 1;
    background-color: white;
}

.hero-area .cut-out-bottom {
    bottom: 0;
    left: 0;
}

.hero-area .cut-out-bottom span:nth-child(2) {
    background-color: transparent;
}


.hero-area .cut-out-top {
    top: 0;
    right: 0;
}

.hero-area .cut-out-top span:nth-child(3) {
    background-color: transparent;
}



.hero-area::after {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    background-color: hsl(0, 100%, 99%);
    inline-size: 70%;
    block-size: 70%;
    z-index: -100;
}

@media (max-width: 500px) {
    .hero-area {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-inline-end: 0;
    }
    .hero-area .hero-area-content {
        grid-column: 1/-1;
        grid-row: 1/-1;
        margin: 0;
        display: grid;
        gap: 1rem;
        align-content: flex-start;
        z-index: 2;
        block-size: 90vh;
        inline-size: 100%;
        background-color:#241e1d25;
        justify-self: center;
        align-self: center;
        overflow: hidden;
        padding: 5rem 2rem;
    }


    .hero-area .hero-area-content > * {
        justify-content: center;
        text-align: center;
    }
    .hero-area .hero-img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        object-fit: cover;
        aspect-ratio: 1/2;
        inline-size: 100%;
        position: relative;
        z-index: 1;
    }

    .hero-area .hero-img span {
        display: none;
    }

    .hero-area::after {
        inline-size: 70%;
        block-size: 50%;
    }
}

.section-heading .heading-art {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
}

.section-heading .heading-art::before,
.section-heading .heading-art::after {
  content: "";
  background-color: hsl(5, 100%, 30%);
  display: inline-block;
  height: 2px;
  width: 100px;
}

@media (max-width: 500px) {
    .section-heading .heading-art::before,
    .section-heading .heading-art::after {
      width: 60px;
    }
}


footer .heading-art::before,
footer .heading-art::after {
  width: 50px !important;
}

.section-heading  .heading-art::before {
  align-self: center;
}

.word-area::after {
    content: "";
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    background-color: hsl(0, 100%, 99%);
    inline-size: 65%;
    block-size: 100%;
    z-index: -100;
}

@media (max-width: 500px) {
    .word-area::after {
        inset-block-start: inherit;
        inset-block-end: 0;
        inline-size: 100%;
        block-size: 80%;
    }
}

.program-imgs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px 2.5px;
    transition: transform .2s ease-in;
}

.program-imgs:hover {
    transform: scale(1.01);
}


.program-imgs img:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/-1;
    aspect-ratio: 1;
    transform: scale(0.95);
}

.program-imgs img:nth-child(2),
.program-imgs img:nth-child(3) {
    grid-column: 2/-1;
    aspect-ratio: 1;
}

.program-imgs img:nth-child(2) {
    grid-row: 1/2;
}

.program-imgs img:nth-child(3) {
    grid-row: 2/-1;
}

.gallery .img-wrapper {
    position: relative;
}

@media (min-width: 500px) {
    .gallery .img-wrapper::after {
        content: "";
        position: absolute;
        inset: 0 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: hsla(5, 100%, 25%, 0.176);
        transition: background-color .2s ease-in-out;
    }
    .gallery .img-wrapper:hover::after {
        background-color: #800b0000;
    }

    .gallery img {
        filter: blur(2px);
        -webkit-filter: blur(1px);
        transition: all .2s ease-in-out;
    }

    .gallery .img-wrapper:hover img {
        filter: blur(0px);
    }

    .gallery .content {
        opacity: 0;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 30px;
        inline-size: max-content;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }
    
    .gallery .img-wrapper:hover .content {
        opacity: 1;
        transition: all .2s ease-in;
    }
}

.gallery .content {display: none;}
