<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="Official Website for Kasubi Nakulabye Skills Associations Limited"
        />
        <title>KNSA - Kasubi Nakulabye Skills Associations Limited</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/utils.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="./assets/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" >
    </head>

    <script>
        tailwind.config = {
          theme: {
            screens : {
                sm: '480px',
                md: '768px',
                lg: '976px',
                xl: '1440px',
            },
            extend: {
                colors: {
                    primary: '#990C00',
                    primaryDark: '#800A00',
                    accent: '#FFA199',
                    lightAccent: '#FFFAFA',
                }
            }
          }
        }
      </script>

    <body>
        <!-- header -->
        <div class="bg-primary">
            <div class="content flex justify-evenly mx-auto px-10 py-5 w-12/12">
                <div class="flex gap-4 logo-area">
                    <div class="h-20 w-20 bg-black">vempom</div>
                    <div class="flex flex-column self-center w-6/12">
                        <h1 class="text-xl font-bold text-white">Kasubi Nakulabye Skills Associations Limited</h1>
                    </div>
                </div>
                <div class="self-center">
                    <div class="flex flex-col gap-1 text-white">
                        <span class="flex items-center gap-3">
                            <i class="fa fa-phone"></i>
                            <span>+256 774 234 503</span>
                        </span>
                        <span class="flex items-center gap-3">
                            <i class="fa fa-envelope"></i>
                            <span>infor@knsa.org</span>
                        </span>
                    </div>
                </div>
                <div class="self-center">
                    <div class="flex gap-1 text-white">
                        <span class="flex flex-col gap-1">
                            <span>Along Kasubi - Nabulagala road</span>
                            <span>Kampala, Uganda</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <nav class="sticky top-0 z-50 bg-lightAccent px-10 py-3">
            <div class="container sticky flex items-center justify-between mx-auto">

                <div class="flex items-center space-x-2">
                    <a href="" class="flex text-primary hover:text-primaryDark hover:font-medium fw-900 font-semibold px-7 py-2">Home</a>
                    <a href="" class="flex text-primary hover:text-primaryDark hover:font-medium fw-900 px-7 py-2">About Us</a>
                    <a href="" class="flex text-primary hover:text-primaryDark hover:font-medium fw-900 px-7 py-2">Our Programs</a>
                    <a href="" class="flex text-primary hover:text-primaryDark hover:font-medium fw-900 px-7 py-2">Contact Us</a>
                </div>
                
                <a href="" class="flex bg-primary text-white rounded-full fw-900 px-7 py-2 baseline hover:bg-primaryDark transition-all transition-200 ease-in">Apply Now</a>
            </div>
        </nav>

        <!-- hero section -->
        <section class="hero-area relative py-28 min-h-screen">
            <div class="absolute inset-0 w-6/12 hero-area-bg bg-lightAccent"></div>
            <div class="container absolute hero-area-content mx-auto px-6 grid gap-4">
                <div class="grid gap-1">
                    <h1 class="text-3xl font-bold text-black w-6/12">Equipping  the Young people with practical life skills</h1>
                    <h1 class="text-xl text-gray-500 w-5/12">vocational training and offering psycho-social support</   h1>
                </div>
                <div class="flex gap-3">
                    <a href="" class="flex bg-primary text-white rounded-full fw-900 px-7 py-2 baseline transition-all transition-200 ease-in hover:bg-primaryDark ">Broswer Our Programs</a>
                    <a href="" class="flex bg-accent transition-all transition-200 ease-in text-white rounded-full fw-900 px-7 py-2 transition-all baseline hover:bg-primaryDark ">Become A Well Wisher</a>
                </div>
            </div>
        </section>

        <!-- about us -->
        <section class="container grid gap-10 mx-auto grid justify-center content-start gap-3 px-5 py-5 min-h-screen">
            <div class="grid section-heading gap-2 justify-items-center mx-auto p-5">
                <h2 class="text-2xl text-primary font-semibold capitalize">About Us</h2>
                <div class="heading-art">
                    <span class="w-3 h-3 rounded-full bg-primary"></span>
                </div>
            </div>
            <div class="container grid grid-cols-3 justify-evenly gap-10">
                <div class="grid justify-items-center gap-2 py-10 px-5 bg-lightAccent rounded-2xl">
                    <h3 class="text-lg font-semibold text-black">
                        Our Vision
                    </h3>
                    <p class="text-center text-normal text-gray-700">A center for your economic empowerment for self-reliance</p>
                </div>
                <div class="grid justify-items-center gap-2 py-10 px-5 bg-lightAccent rounded-2xl">
                    <h3 class="text-lg font-semibold text-black">
                        Our Mision
                    </h3>
                    <p class="text-center text-normal text-gray-700">A dynamic powerful engine for local economic development and job creation</p>
                </div>
                <div class="grid justify-items-center gap-2 py-10 px-5 bg-lightAccent rounded-2xl">
                    <h3 class="text-lg font-semibold text-black">
                        Core Values
                    </h3>
                    <p class="text-center text-normal text-gray-700">Practical Skills, Leaderskip skills, Economic Wellbeing, Self-esteem growth and Sustainability</p>
                </div>
            </div>

            <!-- word for Executive Manager -->
            <div class="flex word-area relative items-center p-10 gap-10">
                <div class="img-wrapper w-5/12 aspect-square">
                    <img class="w-12/12 aspect-square" src="https://media.istockphoto.com/photos/headshot-of-a-happy-young-pregnant-woman-in-all-her-beauty-picture-id1281103760?b=1&k=20&m=1281103760&s=170667a&w=0&h=LXz3WLmiPH-Fct-eSHmnhF680O-Mfwv-M7hu1lBqX8M=" alt="Executive Manager">
                </div>
                <div class="grid gap-4 w-6/12">
                    <h3 class="text-lg font-semibold">Word from Executive Manager</h3>
                    <p class="text-gray-700 text-base">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.     
                    </p>
                    <div class="icons flex gap-3">
                        <a href="">
                            <i class="fa fa-facebook bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        

        <!-- programs -->
        <section class="container grid justify-items-center items-start mx-auto px-5 py-5">
            <div class="grid justify-center content-start gap-3 ">
                <div class="grid section-heading gap-2 justify-items-center mx-auto p-5">
                    <h2 class="text-2xl text-primary font-semibold capitalize">Our Programs</h2>
                    <div class="heading-art">
                        <span class="w-3 h-3 rounded-full bg-primary"></span>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-10 justify-items-evenly">
                    <div class="programs-grid border-2 border-solid border-lightAccent p-5 rounded-lg hover:bg-lightAccent transition-colors transition-200 ease-in">
                        <a href="" class="programs-grid grid gap-5 text-center">
                            <div class="program-imgs">
                                <img src="https://images.unsplash.com/photo-1560869713-bf165a9cfac1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGFpciUyMGRyZXNzaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                                <img src="https://images.unsplash.com/photo-1567894340315-735d7c361db0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGFpciUyMGRyZXNzaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                                <img src="https://images.unsplash.com/photo-1582095133179-bfd08e2fc6b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGhhaXIlMjBkcmVzc2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                            </div>
                            <h3 class="text-base font-semibold">
                                Certificate in hairdressing
                            </h3>
                        </a>
                    </div>
                    <div class="programs-grid border-2 border-solid border-lightAccent p-5 rounded-lg hover:bg-lightAccent transition-colors transition-200 ease-in">
                        <a href="" class="programs-grid grid gap-5 text-center">
                            <div class="program-imgs">
                                <img src="https://images.pexels.com/photos/3018845/pexels-photo-3018845.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                                <img src="https://images.pexels.com/photos/301367/pexels-photo-301367.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                                <img src="https://images.pexels.com/photos/1749452/pexels-photo-1749452.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                            </div>
                            <h3 class="text-base font-semibold">
                                Certificate in Make up
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <a href="" class="flex items-center bg-primary text-white rounded-full fw-900 gap-0 px-5 py-3 baseline transition-all transition-200 ease-in hover:bg-primaryDark ">View All Programs</a>
        </section>

        <!-- Gallery -->
        <section class="grid gap-10 mx-auto grid justify-center content-start gap-3 px-5 py-5 min-h-screen">
            <div class="grid section-heading gap-2 justify-items-center mx-auto p-5">
                <h2 class="text-2xl text-primary font-semibold capitalize">Gallery</h2>
                <div class="heading-art">
                    <span class="w-3 h-3 rounded-full bg-primary"></span>
                </div>
            </div>
            <div class="gallery grid gap-1 grid-cols-2">
                <div class="left">
                    <div class="img-wrapper grid">
                        <img src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBzdHVkZW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="aspect-square">
                        <div class="content absolute">
                            Hair dressing Graduation
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-1">
                    <div class="img-wrapper grid">
                        <img src="https://images.unsplash.com/photo-1594750852563-5ed8e0421d40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmxhY2slMjBzdHVkZW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="aspect-square">
                        <div class="content absolute">
                            Hair dressing Graduation
                        </div>
                    </div>
                    <div class="img-wrapper grid">
                        <img src="https://images.unsplash.com/photo-1465426721606-27b1239015fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aGFpciUyMGRyZXNzaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" class="aspect-square">
                        <div class="content absolute">
                            Hair dressing Graduation
                        </div>
                    </div>
                    <div class="img-wrapper grid">
                        <img src="https://images.pexels.com/photos/668196/pexels-photo-668196.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="aspect-square">
                        <div class="content absolute">
                            Hair dressing Graduation
                        </div>
                    </div>
                    <div class="img-wrapper grid">
                        <img src="https://images.pexels.com/photos/3993449/pexels-photo-3993449.jpeg?auto=compress&cs=tinysrgb&.w=600" alt="" class="aspect-square">
                        <div class="content absolute">
                            Hair dressing Graduation
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <footer class="mt-10 grid bg-lightAccent">
            <div class="container grid grid-cols-3 justify-evenly py-10 mx-auto text-center">
                <div class="flex gap-2 flex-col p-3 items-center">
                    <div class="grid section-heading gap-2 justify-items-center mx-auto">
                        <h2 class="text-lg text-primary font-semibold capitalize">About Us</h2>
                        <div class="heading-art">
                            <span class="w-3 h-3 rounded-full bg-primary"></span>
                        </div>
                    </div>
                    <p class="p-2">
                        Far far away, behind the word mountains, far from the countries 
                    </p>

                    <div class="flex flex-col gap-1">
                        <span class="flex items-center gap-3">
                            <i class="fa fa-phone text-primary"></i>
                            <span>+256 774 234 503</span>
                        </span>
                        <span class="flex items-center gap-3">
                            <i class="fa fa-envelope text-primary"></i>
                            <span>infor@knsa.org</span>
                        </span>
                    </div>
                </div>
                <div class="flex gap-2 flex-col p-3 align-start">
                    <div class="grid section-heading gap-2 justify-items-center items-start mx-auto">
                        <h2 class="text-lg text-primary font-semibold capitalize">Links</h2>
                        <div class="heading-art">
                            <span class="w-3 h-3 rounded-full bg-primary"></span>
                        </div>
                    </div>
                    <ul class="text-left self-center">
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>About Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>Our Programs</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="p-1 font-medium flex items-center gap-2 hover:gap-3 transition-all transition-200 ease-in">
                            <i class="fa fa-arrow-right text-primary"></i>
                            <span>Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="flex gap-2 flex-col p-3 items-center">
                    <div class="grid section-heading gap-2 justify-items-center items-start mx-auto">
                        <h2 class="text-lg text-primary font-semibold capitalize">About Us</h2>
                        <div class="heading-art">
                            <span class="w-3 h-3 rounded-full bg-primary"></span>
                        </div>
                    </div>
                    
                    <p class="p-2">
                        Subscribe and follow us via our social media platforms
                    </p>
                    
                    <div class="icons flex gap-3">
                        <a href="">
                            <i class="fa fa-facebook bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter bg-primary rounded-full py-2.5 px-3 text-white hover:bg-primaryDark transition-all transition-200 ease-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid justify-center bg-primary text-white py-5">
                <p>
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script>, All rights reserved. Property of knsa.org
                </p>
            </div>
        </footer>
</body>
</html>
